<form action="/sessions " method="post">
  <input type="text" name="username" placeholder="Household Name">
  <input type="password" name="password" placeholder="password">
  <input id = "button" type="submit">

</form>