<!DOCTYPE html>
<html>
  <body>
    <h1><%= @supply.name %></h1>
    <p>Don't forget to  login to the site and mark the supply you buy as stocked, just follow this link: <%= @url %>.</p>
  </body>
</html>