/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#main {
  background: #009999;
  font-family: helvetica;
}

.chart_title {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 45px;
}

#navbar {
  background: #33CCCC;
}

#jumbo {
   background: #33CCCC;
   max-width:800px;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}

#title {
  font-family: 'Raleway Dots', cursive;
  font-size: 45px;
  color: white;
}

#subtitle {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    color: white;
    margin-left: 110px;
    margin-top: -20px;
}

#form {
  margin-top: 15px;
  width: 600px;
}

#chore_div {
  background: #33CCCC;
  margin-top: 20px;
  padding: 10px;
}

#supply_div {
  background: #33CCCC;
  margin-top: 20px;
  padding: 10px;
  width: 400px;
}

#logout {
  font-family: 'Raleway Dots', cursive;
  color:white;
  padding: 5px;
  line-height: -10px;
  margin-right:10px;
}

.miniNav {
  font-family: 'Raleway Dots', cursive;
  color:white;
  padding: 5px;
  line-height: -10px;
  margin-right:10px;
}

#allDone {
  font-size: 16px;
  color: white;
}

#notDone {
  font-size: 16px;
  color: rgba(230, 126, 34,1.0);
  margin-right: 10px;
}

.outButton {
  border: 0px;
  border-radius: 9px;
}

.inButton {
  border: 0px;
  border-radius: 9px;
}

.accordianTitle {
  color: rgba(22, 160, 133,1.0);
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 30px
}

.splash {
  color:white;
  font-size: 40px;
}

#input1 {
  border: 0px;
  height: 10px;
}

#intro {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 25px
}

.scorePage{
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  text-decoration: underline;
}

#scorePage {
color: white;
font-family: 'Raleway Dots', cursive;
font-size: 20px;
}

#signUp {
  color: white;
  text-align: right;
  font-family: 'Raleway Dots', cursive;
  border: 1px solid white;
  width:600px;
  padding: 10px;
}