<div id="jumbo"class ="jumbotron">
<!-- <div class="container" id="index"> -->
<img src= "http://www2.psd100.com/ppp/2013/09/2601/Trash-can-icon-0926014850.png"height="40px">
<img src ="https://cdn3.iconfinder.com/data/icons/line/36/toilet_paper-256.png" height="40px">
<img src ="http://www.atharmony.com.au/ikoleji/wp-content/uploads/2012/07/icon_clean.png" height ="70px">
<img src ="http://www.nanoogo.com/img/resource/premium/food/spray-bottle-icon.png" height="70px">
<img src="/broom.png" height="70px">
<!-- <img src="/assests/images/buddah.png">  -->

<h1>STUFF !</h1>

<p><%=link_to "login", new_session_path %> </p>
<p><%= link_to "create new household", new_household_path %> </p>
</div>
<!-- </div> -->


