<div id="jumbo"class ="jumbotron">
<div id ="intro">
    <h1> Keep it Clean.<br> Keep it Calm. </h1>
    <p> Create a chore chart, keep track of who the cleanest roomie is...</p>
    <p> Create a supply list, get automatic email reminders when it's your turn to buy</p>
</div>

<div class="panel-group" id="accordion">
    <div >
      <div class="panel-heading">
        <h4 class="panel-title splash">
          <a class="accordion-toggle splash" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Login
          </a>
        </h4>
      </div>
     <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
      <form action="/sessions " method="post" id="login">
        <input type="text" name="username" placeholder="Household Name">
        <input type="password" name="password" placeholder="password">
        <input id = "button" type="submit" style="border: 0px; color:white; border-radius:9px;">
      </form>
  </div>
</div>
<p><%= link_to "create new household", new_household_path %> </p>


